@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Flip Card Utilities */
.perspective {
    perspective: 1000px;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  
  .monsieur-la-doulaise-regular {
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 400;
    font-style: normal;
  }

  @media (min-width: 768px) {
    .vertical-timeline-element--right .vertical-timeline-element-date {
      text-align: right;
      left: auto;
      right: -120px;
    }
  
    .vertical-timeline-element--left .vertical-timeline-element-date {
      text-align: left;
      right: auto;
      left: -120px;
    }
  }
  